/* Reset de margens e estilos */
body, h1, table {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

/* Estilo do corpo */
body {
    background-color: #F3EAD6; /* Fundo claro */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Header */
header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    color: #A66D45; /* Cor mais escura */
    font-size: 2.5rem;
    margin-bottom: 20px;
}

/* Lista de Navegação (nav-list) */
/* Barra de Navegação */
ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 0px;
    padding: 10px 0;
    background-color: #D2C98A; /* Cor de fundo da barra */
    margin: 0;
    border-radius: 5px;
}

.nav-list li {
    display: inline;
}

.nav-list li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    display: block; /* Garante que o link ocupe o espaço completo do item */
}

.nav-list li a:hover {
    background-color: #A66D45; /* Cor de fundo do item ao passar o mouse */
    color: #D2C98A; /* Cor do texto ao passar o mouse */
    border-radius: 5px; /* Deixa os cantos arredondados ao passar o mouse */
}

/* Tabela */
main {
    overflow-x: auto; /* Permite scroll horizontal se necessário */
    width: 100%;
    max-width: 900px;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    background-color: #D2C98A; /* Fundo médio */
    border: 1px solid #A66D45;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 10px;
    border: 1px solid #A66D45; /* Cor das bordas */
    color: #5B4636; /* Cor do texto */
}

th {
    background-color: #A66D45;
    color: #F3EAD6; /* Texto claro no cabeçalho */
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #F3EAD6; /* Alterna as linhas da tabela */
}

/* Imagens de ação */
td img {
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: transform 0.2s;
}

td img:hover {
    transform: scale(1.2); /* Aumenta o tamanho ao passar o mouse */
}
